// Color

$color-white: #fff;
$color-black: #000;

$color-grey: rgba(var(--b3f,250,250,250),1);
$color-grey-2: #989898;
$color-white: rgba(var(--d87,255,255,255),1);

$color-blue: #00adb5;
//GRID

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;