<%- include('./header') %>

    <body>
        <section class="overlay">
            <div class="overlay-content">
                <button class="close">X</button>

                <ul id="post-list-large">

                </ul>
                <div class="tab">
                    <button class="tablinks" onclick="seelikes()">Likes</button>
                    <button class="tablinks" onclick="seecomments()">Comments</button>
                </div>

                <div id="Wholiked" class="tabcontent">
                    <!-- <ul id="showlikes">

                    </ul> -->
                    <h1>!ok</h1>
                </div>

                <div id="Whocommented" class="tabcontent">
                    <!-- <ul id="showcomments">

                    </ul> -->
                    <h1>ok</h1>
                </div>

            </div>
        </section>
    </body>

    <footer>
        <script src="/displayComments.js"></script>
    </footer>

    <%- include('./footer') %>