<%- include('./header') %>

    <body>
        <section class="overlay">
            <div class="overlay-content">
                <button class="close">X</button>

                <ul id="post-list-large">

                </ul>
                <div class="tab">
                    <button class="tablinks" onclick="seelikes()">Likes</button>
                    <button class="tablinks" onclick="seecomments()">Comments</button>

                    <div id="Wholiked" class="tab-content">
                        <ul id="showlikes" class="post-list-likesandcomments">
                            
                        </ul>
                    </div>
                    <div id="Whocommented" class="tab-content">
                        <ul id="showcomments" class="post-list-likesandcomments">
                            
                        </ul> 
                    </div>
                </div>

                


            </div>
        </section>
    </body>

    <footer>
        <script src="/displayComments.js"></script>
    </footer>

    <%- include('./footer') %>