<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Google font  -->

    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Lobster&family=Slabo+27px&display=swap" rel="stylesheet">
    
    <!-- Font Awesome -->

     <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="css/style.css">

    <!-- J query -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <title>Socnet</title>
</head>