<%- include('./header') %>

<h1 class="clicked-link">Posts</h1>
<hr class="clicked-link-line">

<ul id="posts-list">

</ul>

<ul id="followers-list">

</ul>

<ul id="following-list">

</ul>


<footer>
    <script src="/posts.js"></script>
</footer>

<%- include('./footer') %>