<%- include('./header') %>

    <body class="sidebar-body">

        <section class="search-section">
            <div class="sidebar">
                <input class="sidebar-input" type="text" placeholder="search" name="search">
                <button class="sidebar-button"><i class="fas fa-search"></i></button>
                <ul class="search-list">
                    
                </ul>
            </div>    
        </section>

    </body>

    <footer>
        <script src="/search.js"></script>
    </footer>

    <%- include('./footer') %>