<%- include('partials/header') %>

    <body class="compose-body">
        <div class="compose">
            <h2 class="compose-heading heading-secondary-login">Welcome <%= name %> ! Share your thoughts with the world</h2>
            <form class="form-compose" action="/compose" method="POST">
                <div class="form-group">
                    <textarea class="form-control" name="postBody" rows="15" cols="60"></textarea>
                </div>
                <button class="card-form-button compose-button" type="submit" name="button">Post</button>
            </form>
        </div>
    </body>

    <%- include('partials/footer') %>