<%- include('partials/header') %>

<body class="error-body">
    <div class="error">
        <h2 class="error-heading">Sorry, this page isn't available.</h2>
        <h4 class="error-heading-seconday">The link you followed may be broken, or the page may have been removed. <a class="error-link" href="/login">Go back to Socnet.</a></h4>
    </div>

</body>

<%- include('partials/footer') %>