<%- include('partials/header') %>

    <body class="body-login">

        <div class="row">
            <div class="col-1-of-2">
                <h1 class="heading-secondary-login">Share your secrets anonymously!</h1>
                <h4 class="heading-tertiary-login">Share your thoughts without being identified. <br>
                    Even we don't know who you are!</h4>
            </div>

            <div class="col-1-of-2">
                <div class="card">
                    <h1 class="heading-primary">Socnet</h1>
                    <form action="" class="card-form">
                        <input class="card-form-input" type="email" placeholder="email">
                        <input class="card-form-input-2" type="text" placeholder="password">
                        <button class="card-form-button">Log in</button>
                    </form>
                </div>
                <div class="log-in">
                    <h3 class="h3-heading-login"><span>or</span></h3>
                    <h4 class="h4-heading-login">Don't have an account?</h4>
                    <a href="/signup" class="log-in-button">Sign up</a>
                </div>
            </div>
        </div>
    </body>
<%- include('partials/footer') %>