<%- include('partials/header') %>

<body class="settings">
    <%- include('partials/navbar') %>

    <div class="list-settings-div">
        <ul class="settings-list">
            <li class="settings-list-item"><a class="settings-list-link" href="/deleteProfile">Delete Your Account <i class="settings-list-icon fas fa-arrow-right"></i></a></li>
            <li class="settings-list-item"><a class="settings-list-link" href="/changeusername">Change Your Username <i class="settings-list-icon fas fa-pencil-alt"></i></a></li>
        </ul>
    </div>

    <%- include('partials/sidebar') %> 
</body>

<%- include('partials/footer') %>