<%- include('partials/header') %>

<body class="body-signup">

    <div class="row">
        <div class="card-signup">
            <h1 class="heading-primary">Socnet</h1>
            <h3><%= msg %></h3>
            <form action="/signup" class="card-form" method="POST">
                <input name="username" class="card-form-input-2" type="text" placeholder="username" autocomplete="off">
                <input name="email" class="card-form-input" type="email" placeholder="email" autocomplete="off">
                <input name="password" class="card-form-input-2" type="password" placeholder="password" autocomplete="off">
                <button type="submit" class="card-form-button">Sign up</button>
            </form>
        </div>
        <div class="signup">
            <h3 class="h3-heading-login"><span>or</span></h3>
            <h4 class="h4-heading-login">Already have an account?</h4>
            <a href="/login" class="log-in-button">Log in</a>
        </div>
    </div>
    
</body>

<%- include('partials/footer') %>