.heading-primary {
  color: black;
  font-size: 3.5rem;
  text-align: center;
  font-family: Lobster;
  font-weight: 400; }

.card {
  margin-top: 20%;
  background-color: rgba(var(--d87, 255, 255, 255), 1);
  width: 65%;
  border-style: groove;
  border-radius: 1rem;
  padding: 3rem; }
  .card-form {
    position: relative;
    transition: all .5s; }
    .card-form-input {
      font-size: 1rem;
      text-align: left;
      padding: 2rem 2rem;
      border-radius: 2px;
      border: none;
      border-bottom: 3px solid transparent;
      width: 60%;
      display: block; }
      .card-form-input:focus {
        outline: none; }
    .card-form-input-2 {
      font-size: 1rem;
      text-align: left;
      padding: 2rem 2rem;
      border-radius: 2px;
      border: none;
      border-bottom: 3px solid transparent;
      display: block;
      width: 60%; }
      .card-form-input-2:focus {
        outline: none; }
    .card-form-button {
      border-radius: .5rem;
      width: 90%;
      margin-top: 2rem;
      margin-left: 1rem;
      margin-bottom: 1rem;
      padding-top: .4rem;
      padding-bottom: .4rem;
      background-color: #a6d6d6;
      border: 1px solid transparent;
      color: white;
      font-weight: 900; }
      .card-form-button:hover {
        background-color: #77acf1;
        transform: translateY(-3px);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
      .card-form-button:active {
        transform: translateY(-1px);
        box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.2); }

.log-in {
  padding-top: 2rem;
  width: 78%; }
  .log-in-button {
    text-decoration: none;
    font-weight: bold;
    color: #0095f6; }

.forgotpassword {
  width: 80%;
  margin-top: 2rem;
  text-align: center; }
  .forgotpassword-link {
    text-decoration: none;
    font-weight: bold;
    color: #511281; }

.h3-heading-login {
  margin: 2rem 0;
  text-align: center;
  width: 100%;
  border-bottom: 1px solid #989898;
  line-height: 0.1em; }

.h3-heading-login span {
  background: rgba(var(--b3f, 250, 250, 250), 1);
  padding: 0 10px; }

.h4-heading-login {
  display: inline-block;
  margin-right: 0.5rem;
  text-align: center; }

.body-signup {
  width: 35%;
  text-align: center;
  margin-left: 30%; }

.card-signup {
  margin-top: 15%;
  background-color: rgba(var(--d87, 255, 255, 255), 1);
  border-style: groove;
  border-radius: 1rem; }

.body-password {
  background-color: rgba(var(--b3f, 250, 250, 250), 1); }

.forgotpassword2 {
  width: 40%;
  margin-top: 15%;
  margin-left: 25%;
  background-color: rgba(var(--d87, 255, 255, 255), 1);
  border-style: groove;
  border-radius: 1rem; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * 6rem) / 4) + 2 *  6rem); }

.body-login {
  background-color: rgba(var(--b3f, 250, 250, 250), 1); }

.heading-secondary-login {
  margin-top: 40%;
  text-align: center;
  color: #00adb5;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: 'Slabo 27px', serif;
  transition: all 0.2s;
  letter-spacing: 2px; }
  .heading-secondary-login:hover {
    transform: skewY(1deg) skewX(10deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.35); }

.heading-tertiary-login {
  margin-top: 8%;
  text-align: center;
  color: #00adb5;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
  transition: all .2s; }
  .heading-tertiary-login:hover {
    transform: translateY(-0.25rem);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.35); }
