.heading-primary {
  color: black;
  font-size: 3.5rem;
  text-align: center;
  font-family: Lobster;
  font-weight: 400; }

.card {
  margin-top: 20%;
  background-color: rgba(var(--d87, 255, 255, 255), 1);
  width: 65%;
  border-style: groove;
  border-radius: 1rem;
  padding: 3rem; }
  .card-form {
    position: relative;
    transition: all .5s; }
    .card-form-input {
      font-size: 1rem;
      text-align: left;
      padding: 2rem 2rem;
      border-radius: 2px;
      border: none;
      border-bottom: 3px solid transparent;
      width: 60%;
      display: block; }
      .card-form-input:focus {
        outline: none; }
    .card-form-input-2 {
      font-size: 1rem;
      text-align: left;
      padding: 2rem 2rem;
      border-radius: 2px;
      border: none;
      border-bottom: 3px solid transparent;
      display: block;
      width: 60%; }
      .card-form-input-2:focus {
        outline: none; }
    .card-form-button {
      border-radius: .5rem;
      width: 90%;
      margin-top: 2rem;
      margin-left: 1rem;
      margin-bottom: 1rem;
      padding-top: .4rem;
      padding-bottom: .4rem;
      background-color: #a6d6d6;
      border: 1px solid transparent;
      color: white;
      font-weight: 900; }
      .card-form-button:hover {
        background-color: #77acf1;
        transform: translateY(-3px);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
      .card-form-button:active {
        transform: translateY(-1px);
        box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.2); }

.log-in {
  padding-top: 2rem;
  width: 78%; }
  .log-in-button {
    text-decoration: none;
    font-weight: bold;
    color: #0095f6; }

.forgotpassword {
  width: 80%;
  margin-top: 2rem;
  text-align: center; }
  .forgotpassword-link {
    text-decoration: none;
    font-weight: bold;
    color: #511281; }

.h3-heading-login {
  margin: 2rem 0;
  text-align: center;
  width: 100%;
  border-bottom: 1px solid #989898;
  line-height: 0.1em; }

.h3-heading-login span {
  background: rgba(var(--b3f, 250, 250, 250), 1);
  padding: 0 10px; }

.h4-heading-login {
  display: inline-block;
  margin-right: 0.5rem;
  text-align: center; }

.body-signup {
  width: 35%;
  text-align: center;
  margin-left: 30%; }

.card-signup {
  margin-top: 15%;
  background-color: rgba(var(--d87, 255, 255, 255), 1);
  border-style: groove;
  border-radius: 1rem; }

.body-password {
  background-color: rgba(var(--b3f, 250, 250, 250), 1); }

.forgotpassword2 {
  width: 40%;
  margin-top: 12%;
  margin-left: 30%;
  background-color: rgba(var(--d87, 255, 255, 255), 1);
  border-style: groove;
  border-radius: 1rem; }

.forgotpasswordmsg {
  text-align: center; }

.navbar {
  position: absolute; }

.navbar-list {
  list-style-type: none;
  margin-top: 65%;
  margin-left: 40%;
  width: 200px;
  position: relative; }
  .navbar-list-item {
    margin-top: 2rem;
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.4em;
    background-position: 0 100%;
    transition: background-size 0.25s ease-in; }
    .navbar-list-item:hover {
      background-size: 100% 100%; }

.a-navbar {
  text-decoration: none;
  color: black;
  font-size: 1.5rem; }

.overlay {
  visibility: hidden;
  position: fixed;
  overflow-y: scroll;
  overscroll-behavior: contain;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.overlay div {
  margin: 15vh auto;
  width: 80%;
  max-width: 650px;
  padding: 30px;
  min-height: 70vh;
  background-color: rgba(var(--b3f, 250, 250, 250), 1); }

.overlay {
  background: rgba(40, 40, 40, 0.75); }

#post-list-large {
  list-style-type: none;
  width: 90%;
  margin-left: 7%;
  margin-top: 4%; }

.comment-button-large {
  width: 20%; }

.comment-input-large {
  background-color: rgba(var(--b3f, 250, 250, 250), 1);
  margin-top: 1.5rem;
  border-style: none; }
  .comment-input-large:focus {
    outline: none; }

.close {
  margin-left: 95%; }

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  /* Style the buttons inside the tab */
  /* Change background color of buttons on hover */
  /* Create an active/current tablink class */
  /* Style the tab content */ }
  .tablinks {
    width: 50%; }
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px; }
  .tab button:hover {
    background-color: #ddd; }
  .tab button.active {
    background-color: #ccc; }
  .tab-content {
    display: none;
    padding: 6px 12px;
    border-top: none; }

.post-list-likesandcomments {
  list-style-type: none;
  width: 100%; }

.list-item-likesandcomments {
  margin-top: -3rem;
  font-family: 'Lato', sans-serif; }
  .list-item-likesandcomments a {
    text-decoration: none;
    color: #000; }

.seelikes-list {
  font-size: 1.5rem;
  padding-bottom: 4rem;
  margin-left: 2rem;
  margin-bottom: 1rem; }

.seecomments-list {
  font-size: 1.25rem;
  margin-left: 2rem;
  padding-bottom: 2rem; }
  .seecomments-list-name {
    font-weight: 600;
    display: inline-block; }
  .seecomments-list-comment {
    font-family: 'slabo';
    margin-left: 1rem;
    font-weight: 500;
    display: inline-block; }
  .seecomments-list-hypen {
    margin-left: 1rem;
    display: inline-block; }

.sidebar-body {
  position: relative; }

.sidebar {
  position: absolute;
  right: 5rem;
  top: 5rem; }
  .sidebar-input {
    background-color: rgba(var(--b3f, 250, 250, 250), 1);
    border-style: none; }
    .sidebar-input:focus {
      outline: none; }
  .sidebar-button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit; }

.search-result {
  list-style-type: none;
  text-decoration: none;
  font-size: 1.5rem; }

a:-webkit-any-link {
  cursor: pointer;
  text-decoration: none;
  color: #000; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * 6rem) / 4) + 2 *  6rem); }

.body-login {
  background-color: rgba(var(--b3f, 250, 250, 250), 1); }

.heading-secondary-login {
  margin-top: 40%;
  text-align: center;
  color: #00adb5;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: 'Slabo 27px', serif;
  transition: all 0.2s;
  letter-spacing: 2px; }
  .heading-secondary-login:hover {
    transform: skewY(1deg) skewX(10deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.35); }

.msglogin {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center; }

.heading-tertiary-login {
  margin-top: 8%;
  text-align: center;
  color: #00adb5;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
  transition: all .2s; }
  .heading-tertiary-login:hover {
    transform: translateY(-0.25rem);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.35); }

.error-body {
  background-color: rgba(var(--b3f, 250, 250, 250), 1); }

.error {
  text-align: center;
  margin-top: 5%; }
  .error-heading {
    font-family: 'Slabo 27px', serif;
    letter-spacing: 1.5px; }
  .error-heading-seconday {
    font-family: 'Lato', sans-serif; }

.error-link {
  text-decoration: none;
  color: #511281; }

.profile {
  background-color: rgba(var(--b3f, 250, 250, 250), 1); }
  .profile-heading {
    display: inline-block;
    letter-spacing: 1px; }
  .profile-username {
    display: inline-block;
    width: 30%;
    margin-top: 6%;
    margin-left: 45%; }
  .profile-button {
    display: inline-block;
    width: 30%;
    margin-left: 6%;
    margin-top: 0; }
  .profile-img-div {
    position: absolute;
    width: 20%;
    margin-top: 4.5%;
    margin-left: 25rem; }
  .profile-img {
    width: 100%;
    position: relative; }
  .profile-follower {
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin-left: 1rem; }
    .profile-follower a {
      text-decoration: none;
      color: #000; }
  .profile-following {
    position: relative;
    display: inline-block;
    margin-left: 1rem;
    cursor: pointer; }
    .profile-following a {
      text-decoration: none;
      color: #000; }
  .profile-posts {
    position: relative;
    display: inline-block;
    cursor: pointer; }

.follower-following {
  margin-top: -1.5rem;
  position: absolute; }

.clicked {
  background-color: #f55c47; }
  .clicked:hover {
    background-color: #f55c47; }

.clicked-link {
  margin-top: 8%;
  margin-left: 45%;
  width: 10%;
  color: #126e82;
  font-family: 'Slabo 27px', serif; }
  .clicked-link-line {
    width: 25%;
    margin-right: 38%;
    height: 0.5px; }

.list-post-follower-following {
  list-style-type: none;
  width: 30%;
  margin-left: 34%;
  margin-top: 4%; }

.list-link-item {
  margin-top: 2rem;
  font-size: 1.5rem;
  font-family: 'Lato', sans-serif; }
  .list-link-item a {
    text-decoration: none;
    color: #000; }

.icon-thumsup {
  cursor: pointer; }

.like-button {
  background-color: rgba(var(--b3f, 250, 250, 250), 1);
  color: #00adb5;
  border: none;
  margin-top: 1rem;
  font-size: .8rem;
  display: block; }

.like-post {
  margin-top: 1.5rem;
  display: inline-block;
  margin-bottom: 0;
  cursor: pointer; }

.comment-post {
  display: inline-block;
  margin-left: 1.5rem;
  cursor: pointer; }

.comment-input {
  background-color: rgba(var(--b3f, 250, 250, 250), 1);
  margin-top: 1.5rem;
  border-style: none; }
  .comment-input:focus {
    outline: none; }

.comment-button {
  display: inline-block;
  width: 20%; }

.see-Likes {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit; }

.compose-body {
  background-color: rgba(var(--b3f, 250, 250, 250), 1); }

.compose-button {
  margin-top: 5%;
  width: 20%;
  margin-left: 38.5%; }

.compose-heading {
  margin-top: 3%;
  text-align: center;
  font-size: 2rem; }

.form-control {
  display: block;
  margin-top: 8%;
  margin-left: 32.5%; }
