.body-signup{
    width: 35%;
    text-align: center;
    margin-left: 30%;
}

.card-signup {
    margin-top: 15%;
    background-color: $color-white;
    border-style: groove; 
    border-radius: 1rem;
}
