.card {

    width: 40%; 
    border-style: groove; 
    border-radius: 1rem;
    padding: 3rem;

    &-form{

        position: relative;
        transition: all .5s;

        &-input{
            margin-left: 21%;
            -webkit-background-clip: text;            
            font-size: 1rem;
            text-align: left;
            padding: 2rem 2rem;
            border-radius: 2px;
            border: none;
            border-bottom: 3px solid transparent;
            width: 50%;
            display: block;
            border-bottom: 1px transparent solid;

            &:focus {
                outline: none;
                border-bottom: 1px #000000 solid;
            }

        }

        &-input::placeholder {
            color: #343a40;
            font-family: slabo;
            font-weight: bold;
        }

        

        &-button {
            font-family: 'Fira Sans', sans-serif;
            border-radius: .5rem;
            width: 50%;
            margin-top: 2rem;
            margin-left: 24%;
            margin-bottom: 1rem;
            padding-top: .4rem;
            padding-bottom: .4rem;
            background-color: #a6d6d6;
            border: 1px solid transparent;
            color: white;
            font-weight: 900;

            &:hover{

                background-color: #77acf1;
                transform: translateY(-3px);
                box-shadow: 0 .5rem 1rem rgba($color-black,.2);
            }

            &:active {
                transform: translateY(-1px);
                box-shadow: 0 0.2rem 0.5rem rgba($color-black , .2);
            }
        }
    }
}