.body-password{
    background-color: $color-grey;
}

.forgotpassword2{
    width: 40%;
    margin-top: 15%;
    margin-left: 25%;
    background-color: $color-white;
    border-style: groove; 
    border-radius: 1rem;
}