.body-password{
    background-color: $color-grey;
}

.forgotpassword2{
    width: 40%;
    margin-top: 12%;
    margin-left: 30%;
    background-color: $color-grey;
    border-style: groove; 
    border-radius: 1rem;
}

.log-in-forgotpassword{
    margin-top: 1rem;
    font-family: 'Signika Negative', sans-serif;
    display: inline-block;
    margin-left: 55%;
}

.signup-forgotpassword{
    margin-top: -1.2rem;
    font-family: 'Signika Negative', sans-serif;
    display: inline-block;
    margin-left: 35%;
}
