.log-in {
    width: 20%;
    margin-left: 55%;
    margin-top: -1.2rem;
    font-family: 'Signika Negative', sans-serif;
    display: inline-block;
    
    &-button {
        text-decoration: none;
        font-weight: bold;
        color: #194350;
    }
}

.forgotpassword {
    margin-left: 21%;
    width: 30%;
    margin-top: 2rem;
    display: inline-block;
    text-align: center;
    font-family: 'Signika Negative', sans-serif;
    &-link {
        text-decoration: none;
        font-weight: bold;
        color: #194350;
    }
}

.h3-heading-login {
    margin: 2rem 0;
    text-align: center;
    width: 100%;
    border-bottom: 1px solid $color-grey-2;
    line-height: 0.1em;
}

.h3-heading-login span {
    background: $color-grey;
    padding: 0 10px;
}

.h4-heading-login {
    display: inline-block;
    margin-right: 0.5rem;
    text-align: center;
}
