.overlay { 
    visibility:hidden;
    position: fixed; 
    overflow-y: scroll;
    overscroll-behavior: contain;
    top: 0; right: 0; bottom: 0; left: 0; 
 }
 
 
 .overlay-content {
    display: hidden;
    margin: 15vh auto;
    width: 80%;
    max-width: 650px;
    padding: 30px;
    min-height: 80vh;
    background-color: $color-grey;
 }
 .overlay {
     background:  rgba(40,40,40, .75);
 }

 #post-list-large{
    list-style-type:none;
    width: 90%;
    margin-left: 7%;
    margin-top: 4%;
}

.comment-button-large{
    width: 20%;
}

.comment-input-large{
    background-color: $color-grey;
        margin-top: 1.5rem;
        border-style: none;
        &:focus{
            outline: none;
        }
}

.close{
    margin-left: 95%;
}

///Tab 

.tab {
  margin-top: 4rem;
  min-height: 50vh;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  &links{
        width: 50%;
  }
  
  
  /* Style the buttons inside the tab */
  & button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  & button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  & button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  &-content {
    display: none;
    padding: 6rem 12px;
    border-top: none;
  }
}

.post-list-likesandcomments{
  list-style-type:none;
  width: 100%;
}

.list-item-likesandcomments{
  margin-top: -3rem;
  font-family: 'Lato', sans-serif;
    & a{
        text-decoration: none;
        color: $color-black
    }
}

.seelikes-list{
  font-size: 1.5rem;
  padding-bottom: 4rem;
  margin-left: 2rem;
  margin-bottom: 1rem;
}

.seecomments-list{
  font-size: 1.25rem;
  
  margin-left: 2rem;
  padding-bottom: 2rem;
  &-name{
    font-weight:600;
    display: inline-block;
  }
  &-comment{
    font-family: 'slabo';
    margin-left: 1rem;
    font-weight:500;
    display: inline-block;
  }
  &-hypen{
    margin-left: 1rem;
    display: inline-block;
  }
}
.viewPostTop{
  color: $color-red;
  text-decoration: none;
}

.SinglePostSharedDetails{
  margin: 3rem 0;
  border-style: groove;
  border-radius: 0.5rem; 
  width: 70%;
  cursor: pointer;
}

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}




 