.sidebar-input{
    font-size: 1rem;
}

.search-result{
    list-style-type:none;   
    font-size: 2rem;
    margin-left: -21.8%;
    text-align: left;
    a{
        text-decoration: none;
        color: $color-black;
    }
}