.compose-body{
    background-color: $color-grey;
}

.compose{
    &-button{
        margin-top: 5%;
        width: 20%;
        margin-left: 38.5%;
    }

    &-heading{
        margin-top: 3%;
        text-align: center;
        font-size: 2rem;
    }
}

.form-control{
    display: block;
    margin-top: 8%;
    margin-left: 32.5%;
}