.body-login{
    background-color: $color-grey;
}

.heading-secondary-login {
    margin-top: 40%;
    text-align: center;
    color: $color-blue;
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'Slabo 27px', serif;
    transition: all 0.2s;
    letter-spacing: 2px;
    &:hover {
        transform: skewY(1deg) skewX(10deg) scale(1.1);
        text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.35);
    }
}

.msglogin {
    color: #293b5f;
    font-family: 'Fira Sans', sans-serif;
    margin-bottom: 11%;
    text-align: center;
}

.heading-tertiary-login{
    margin-top: 8%;
    text-align: center;
    color: $color-blue;
    font-size: 1.2rem;
    font-weight: bold; 
    font-family: 'Lato', sans-serif;
    transition: all .2s;
    &:hover{
        transform: translateY(-0.25rem);
        text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.35);
    }
}
.card-login{
    border-radius: 0.5rem;
    border-style: none;
    margin: 0 auto;
    padding: 7% 1%;
    background-color:   rgba(137, 196, 244, 0.25);
    text-shadow: black;
}