.body-login{
    background-color: $color-grey;
}

.heading-secondary-login {
    margin-top: 40%;
    text-align: center;
    color: $color-blue;
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'Slabo 27px', serif;
    transition: all 0.2s;
    letter-spacing: 2px;
    &:hover {
        transform: skewY(1deg) skewX(10deg) scale(1.1);
        text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.35);
    }
}

.msglogin {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}

.heading-tertiary-login{
    margin-top: 8%;
    text-align: center;
    color: $color-blue;
    font-size: 1.2rem;
    font-weight: bold; 
    font-family: 'Lato', sans-serif;
    transition: all .2s;
    &:hover{
        transform: translateY(-0.25rem);
        text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.35);
    }
}