.profile{
    background-color: $color-grey;

    &-heading{
        display: inline-block;
        letter-spacing: 1px;
    }

    &-username{
        display: inline-block;
        width: 30%;
        margin-top: 6%;
        margin-left: 45%;  
              
    }

    &-button{
        display: inline-block;
        width: 30%;
        margin-left: 6%;
        margin-top: 0; 
    }

    &-img-div{
        position: absolute;
        width: 20%;
        margin-top: 4.5%;
        margin-left: 25rem; 
    }

    &-img{
        width: 100%;
        position: relative;
    }

    &-follower{
        position: relative;
        display: inline-block;
        cursor: pointer;
        margin-left: 1rem;
        & a {
            text-decoration: none;
            color: $color-black;
        }
    }

    &-following{
        position: relative;
        display: inline-block;
        margin-left: 1rem;
        cursor: pointer;
        & a {
            text-decoration: none;
            color: $color-black;
        }
    }

    &-posts{
        position: relative;
        display: inline-block;
        cursor: pointer;
    }
}

.follower-following{
    margin-top: -1.5rem;
    position: absolute;
}

.clicked{
    background-color: $color-red;
    &:hover{
        background-color: $color-red;
    }
}

.clicked-link{
    margin-top: 8%;
    margin-left: 45%;
    width: 10%;
    color: #126e82;
    font-family: 'Slabo 27px', serif;
    &-line{
        width: 25%;
        margin-right: 38%;
        height: 0.5px;
    }
}

#followers-list {
    list-style-type:none;
    width: 30%;
    margin-left: 34%;
    margin-top: 4%;
}

#following-list {
    list-style-type:none;
    width: 30%;
    margin-left: 34%;
    margin-top: 4%;
}

#posts-list{
    list-style-type:none;
    width: 30%;
    margin-left: 34%;
    margin-top: 4%;
}

.list-link-item{
    margin-top: 2rem;
    font-size: 1.5rem;
    font-family: 'Lato', sans-serif;
    & a{
        text-decoration: none;
        color: $color-black
    }
}

.icon-thumsup{
    cursor: pointer;
}

.like-button{
    background-color: $color-grey;
    color: $color-blue;
    border: none;
    margin-top: 1rem;
    font-size: .8rem;
}



