.share-icon{
    margin-left: .5rem;
    color: $color-blue;
    &-top{
        margin-right: .5rem;
        color: $color-blue;
    }
}

.shared-div{
    border-style: groove; 
    border-radius: 0.5rem;
    cursor: pointer;
    &-text{
        font-size: 1rem;
        margin-bottom: 1rem;
        margin-left: 1.5rem;
    }
}

.shared-name{
    text-decoration: none;
    color: $color-red;
    margin-left: 1.5rem;
}